VOWBASE_URL_SLASH = /

VOWBASE_LOCAL_SUPABASE_URL =
VOWBASE_LOCAL_SUPABASE_PUBLISHABLE_KEY =
VOWBASE_LOCAL_API_URL =

#include? "Local.xcconfig"

INFOPLIST_KEY_SUPABASE_URL = $(VOWBASE_LOCAL_SUPABASE_URL)
INFOPLIST_KEY_SUPABASE_PUBLISHABLE_KEY = $(VOWBASE_LOCAL_SUPABASE_PUBLISHABLE_KEY)
INFOPLIST_KEY_VOWBASE_API_URL = $(VOWBASE_LOCAL_API_URL)
INFOPLIST_KEY_VOWBASE_BUILD_CONFIGURATION = Debug
